



* {margin: 0;
   padding: 0;}

@media screen and (max-width: 767px)

{

/* Header */

.bg-intro {background-color: hsl(217, 28%, 15%);}

.intro-wrapper {text-align: center;
                display: flex;
                clear: both;
                flex-flow: column nowrap;
                align-items: center;
                position: relative;
                z-index: 1;}

.logo {float: left;
       background-color: hsl(217, 28%, 15%);
       width: 80px;
       margin-top: 25px;
       margin-left: 20px;}

nav {float: right;
     background-color: hsl(217, 28%, 15%);
     font-size: 10px;
     margin-top: 31.5px;
     margin-bottom: 57.5px;
     color: white;}

li {display: inline; margin: 0 25.5px 0 0;}

.intro {width: 305px;
        position: relative; z-index: 1;}

/* Section-a */

.bg-curvy {height: 140px;
           background-image: url(../img/bg-curvy-mobile.svg);
           background-color: hsl(217, 28%, 15%);
           background-repeat: no-repeat;
           background-position: center;
           margin-top: -50px;
           z-index: 0;
           width: 100%;}

.section-a {background-color: hsl(218, 28%, 13%);
            color: white;
            margin-top: -50px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;}

.section-a__h {width: 80.8%; font-size: 21px; margin-bottom: 25px;}

.section-a__p {width: 77.6%; font-size: 14px; margin-bottom: 37px;}

.section-a__btn {padding: 19px 83px;
                 border-radius: 100px;
                 margin-bottom: 131.5px;
                 border: none;
                 color: white;
                 background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));}

/* Section-b */

.section-b {display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            background-color: hsl(218, 28%, 13%);
            color: white;
            margin-top: -1px;}

.section-b__img {margin-bottom: 45px;}

.section-b__h {margin-bottom: 19px;}

.section-b__p {margin-bottom: 95px; width: 80.93%;
               margin-left: auto;
               margin-right: auto;}

.section-b__p__final {margin-bottom: 163px;}

/* Section-c */

.section-c__column1 {display: flex;
                     justify-content: center;
                     background-color: hsl(218, 28%, 13%);
                     margin-top: -1px;}

.users {width: 302px;
        margin-bottom: 55px;}

.section-c__column2 {display: flex;
                     flex-flow: column nowrap;
                     align-items: center;
                     color: white;
                     background-color: hsl(218, 28%, 13%);
                     margin-top: -1px;
                     width: 100%;}

.section-c__column2__h-center {align-self: center;
                               margin-bottom: 26px;
                               font-size: 21px;}

.section-c__column2__p {margin-bottom: 27px;
                        width: 84.67%; }

.section-c__column2__a-left {margin-bottom: 150px;
                             align-self: center;
                             width: 84.67%;}

.section-c__column2__a:link,
.section-c__column2__a:visited {color: hsl(176, 68%, 64%);
                                border-bottom: 1px solid hsl(176, 68%, 64%);
                                text-decoration: none;
                                padding-bottom: 9px;}

.arrow {position: relative;
        top: 5px;}

/* Section-d */

.quotes {width: 21px; margin-left: 14.13%;}

.quotes-wrapper {width: 74.67%; align-self: flex-start;}

.section-d {background-color: hsl(218, 28%, 13%);
            color: white;
            margin-top: -1px;
            padding-bottom: 140px;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;}

.section-d__review1,
.section-d__review2,
.section-d__review3  {background-color: hsl(219, 30%, 18%);
                      margin-bottom: 24px;
                      width: 74.67%;
                      padding: 30px 45px 23px 21px;
                      border-radius: 10px;}

.section-d__review__h {font-size: 15px;}

.section-d__review__sub-p {margin-top: 9px;
                           font-size: 12px;}

.section-d__sub-review1,
.section-d__sub-review2,
.section-d__sub-review3 {display: flex;
                         flex-flow: row nowrap;
                         margin-top: 25px;}

.profile1,
.profile2,
.profile3 {width: 24px;
           margin-right: 8.5px;
           clip-path: circle(50% at 50% 50%);
           margin-top: 5px;}

/* Section-e */

.section-e-wrapper {background-color: hsl(218, 28%, 13%);
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    margin-top: -1px;}

.section-e-wrapper-inside {display: flex;
                           flex-flow: column nowrap;
                           align-items: center;
                           text-align: center;
                           color: white;
                           padding-top: 45.5px;
                           transform: translateY(150px);
                           width: 80%;
                           background-color: hsl(219, 30%, 18%);
                           border-radius: 15px;}

.section-e__p {width: 73.33%;
               margin-bottom: 34px;}

.section-e__h {margin-bottom: 30.5px; font-size: 21px;}

.section-e__email {margin-bottom: 24px;
                   border-radius: 100px;
                   line-height: 52px;
                   width: 74.67%;}

.section-e__email::placeholder {padding-left: 30px;}

.section-e__btn {padding: 19px 32.5px;
                 border-radius: 100px;
                 margin-bottom: 31.5px;
                 font-size: 14px;
                 border: none;
                 width: 74.67%;
                 color: white;
                 background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));}


/* Footer */

footer {background-color: hsl(216, 53%, 9%);
        color: white;
        margin-top: -1px;}

.logo-bottom {margin: 251px 0px 48px 39.5px;}

.location-p {margin-bottom: 28px;
             width: 325px;}

.phone-p {margin-bottom: 32.5px;}

.email-p {margin-bottom: 94px;}

.phone,
.email,
.location {margin-right: 30px;}

.footer__column1,
.footer__column2,
.footer__column3,
.footer__column4  {margin-left: 24px;}

.footer__column1 {display: flex;
                  flex-flow: row nowrap;
                  margin-bottom: 65px;}

.location-p {height: 1px;}

.footer__p {margin-bottom: 26px;}

.footer__p-mid {margin-bottom: 56px;}

.footer__column5 {display: flex;
                  flex-flow: row nowrap;
                  justify-content: center;
                  padding-bottom: 43px;}


/* Icons */

.footer__column5 {margin-top: 82px;}

.fa-facebook,
.fa-twitter {border: 1px solid white;
             border-radius: 50px;
             padding: 8px;}

.fa-instagram {margin-left: 11px;
               margin-right: 11px;
               border: 1px solid white;
               border-radius: 50px;
               padding: 8px;}

}

@media screen and (min-width: 1200px) and (max-width: 1920px)

{

  /* Header */

  .bg-intro {background-color: hsl(217, 28%, 15%);}

  .intro-wrapper {display: flex;
                  flex-flow: column nowrap;
                  align-items: center;
                  position: relative;
                  z-index: 1;}

  .logo {float: left;
         background-color: hsl(217, 28%, 15%);
         margin-top: 75px;
         margin-left: 80px;}

  nav {float: right;
       background-color: hsl(217, 28%, 15%);
       font-size: 18px;
       margin-top: 85px;
       margin-right: 82px;
       margin-bottom: 57.5px;
       color: white;}

  li {display: inline; margin: 0 59px 0 0;}

  .intro {width: 715px;
          position: relative;
          margin-top: 202px;
          margin-bottom: 115px;
          z-index: 1;}

/* Section-a */

.bg-curvy {height: 448px;
           background-image: url(../img/bg-curvy-desktop.svg);
           background-color: hsl(217, 28%, 15%);
           background-repeat: no-repeat;
           background-position: center;
           margin-top: 0px;
           width: 100%;}

.section-a {color: white;
            margin-top: -480px;
            display: flex;
            clear: both;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;}

.section-a__h {width: 47.01%;
               font-size: 40px;
               margin-bottom: 25px;}

.section-a__p {width: 40.28%;
               font-size: 21px;
               margin-bottom: 37px;}

.section-a__btn {padding: 23px 97px;
                 border-radius: 100px;
                 margin-bottom: 131.5px;
                 border: none;
                 color: white;
                 background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));}

/* Section-b */

.section-b {background-color: hsl(218, 28%, 13%);
            color: white;
            margin-top: -1px;}

.section-b__row1,
.section-b__row2 {display: flex;
                  flex-flow: row nowrap;
                  width: 100%;
                  justify-content: space-around;
                  align-items: center;}

.section-b__row2 {margin-top: 97px;
                  padding-bottom: 174px;}

.section-b__row1__item1,
.section-b__row1__item2,
.section-b__row2__item1,
.section-b__row2__item2 {display: flex;
                         flex-flow: column nowrap;
                         justify-content: center;
                         align-items: center;
                         text-align: center;}

.clock {height: 71px;}

.file {height: 64px;}

.section-b__img {margin-bottom: 45px;}

.section-b__h {margin-bottom: 19px;}

.section-b__p {width: 342px;}

/* Section-c */

.section-c {display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            background-color: hsl(218, 28%, 13%);
            color: white;
            margin-top: -1px;}



.section-c__column2__h {margin-bottom: 37px;
                        font-size: 40px;
                        width: 333px;}

.section-c__column2__p {margin-bottom: 28px;
                        font-size: 21px;
                        width: 547px;}

.section-c__column2__a:link,
.section-c__column2__a:visited {color: hsl(176, 68%, 64%);
                                border-bottom: 1px solid hsl(176, 68%, 64%);
                                text-decoration: none;
                                padding-bottom: 9px;
                                margin-top: 35px;
                                }

.section-d__reviews {display: flex;
                     flex-flow: row nowrap;
                     justify-content: space-around;}

.section-d {color: white;
            background-color: hsl(218, 28%, 13%);
            margin-top: -1px;}

/**/

.quotes {margin-left: 4%; margin-top: 144px;}

.section-d__review1,
.section-d__review2,
.section-d__review3  {background-color: hsl(219, 30%, 18%);
                      margin-bottom: 24px;
                      width: 300px;
                      padding: 48px 32px 28px 27px;
                      border-radius: 10px;}

.section-d__review__h {font-size: 15px;}

.section-d__review__sub-p {margin-top: 9px;
                           font-size: 12px;}

.section-d__sub-review1,
.section-d__sub-review2,
.section-d__sub-review3 {display: flex;
                         flex-flow: row nowrap;
                         margin-top: 25px;}

.profile1,
.profile2,
.profile3 {width: 24px;
           margin-right: 8.5px;
           clip-path: circle(50% at 50% 50%);
           margin-top: 5px;}



}
